.popup {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    justify-content: center;
    padding: 195px 0 0;
    display: none;
}

@media screen and (max-width: 600px) {
    .popup {
        padding: 123px 0 0;
    }
}
