.profile__button-edit {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/button-edit.svg);
    margin: 13px 0 0 25px;
    float: left;
}

@media screen and (max-width: 768px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        background-size: 50%;
        margin: 7px 0 0 15px;
    }
}
