.profile__button-add {
    margin: 35px 0 0;
    width: 150px;
    min-width: 150px;
    height: 50px;
    border: 2px solid white;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/button-add.svg);
    background-color: black;
    outline: none;
}

@media screen and (max-width: 540px) {
    .profile__button-add {
        width: 100%;
        padding: 0;
    }
}
