.profile__avatar {
    object-fit: contain;
    background-size: contain;
    background-position: center;
    width: 120px;
    height: 120px;
    display: block;
    box-sizing: border-box;
    border-radius: 60px;
}

@media screen and (max-width: 768px) {
    .profile__avatar {
        margin: 0 auto;
    }
}
